<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.searchitcards">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SearchItCards">
        <activity android:name=".ShowDetails"></activity>
        <activity android:name=".TVShows" />
        <activity android:name=".EpisodeList" />
        <activity android:name=".SearchResults" />
        <activity android:name=".News_activity" />
        <activity android:name=".Movies_activity" />
        <activity android:name=".AnimeDeatails" />
        <activity android:name=".Anime.Youtube" />
        <activity android:name=".Movie.mAdapter.DeatailsMovie" />
        <activity android:name=".MovieSearchResult"/>
        <activity android:name=".Movie.MovieTrailer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>